[Unit]
Description=Ping Pong, a sample BOT for Discord
Requires=docker.service
After=network-online.target

[Service]
WorkingDirectory=/home/discord/bots/ping_pong
ExecStart=/usr/local/bin/docker-compose up --no-recreate
ExecStop=/usr/local/bin/docker-compose stop

[Install]
WantedBy=network-online.target
